section{
    background-color: #b9b6b6;
    font-family: sans-serif;
    text-align: center;
    width: 550px;
    margin: 0 auto;
}
p{
    width: 450px;
    margin: 0 auto;
}
button{
    padding: .5rem;
}